Liste hinzufügen: <button (click)="visible()">+</button>
<ul>
    <li *ngFor = "let li of lists" >
        <span (click)="onClick(li)">{{li.name}}</span>
        <button (click)="deletelist(li)">X</button>
    </li>
    <li *ngIf = "hide == false" >
    <form #list = "ngForm" (ngSubmit)="addlist(list.value)"  novalidate>
        <input name="name" ngModel required><br>
        User:
        <select name ="user_id" ngModel>
            <option *ngFor="let u of users"
            [value]="u.id">
             {{u.username}}
            </option>
        </select>
        
        <button>+</button>
    </form>
    
    </li>
 </ul>
