<div *ngIf="todo != null">
    <span>ID:</span>
    <span>{{todo.id}}</span><br>
    <label>Titel:</label>
    <input [(ngModel)]="todo.title"><br>
    <label>Status:</label>
    <select [(ngModel)]="todo.status">
        <option value = "offen">offen</option>
        <option value = "in Bearbeitung">in Bearbeitung</option>
        <option value = "erledigt">erledigt</option>
        <option value = "verspätet erledigt">verspätet erledigt</option>
        <option value = "abgebrochen">abgebrochen</option>
    </select><br>
    <label>Prio:</label>
    <select [(ngModel)]="todo.prio">
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
    </select><br>
    <label>Endtermin:</label>
    <input type = "date" [(ngModel)]="todo.enddate"><br>
    <label>Beschreibung:</label><br>
    <textarea type="text" rows="30" cols="50" [(ngModel)]="todo.content" aria-required="true" required></textarea><br>
    <span>List ID:</span>
    <div>{{todo.list_id}}</div><br>
    <button *ngIf = "todo.status != 'erledigt'" type="submit" (click)="updateToDo(todo); hide = true">Übernehmen</button>
    <div *ngIf = "todo.status == 'erledigt'">Aufgabe bereits erldigt und nichtmehr änderbar!</div>
    </div>

