.wrapper {
    display: flex;
    justify-content: space-between;
   }
  .login, nav, main {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
   }
   nav {
    width: 300px;
   }
   main {
    width: 100%;
   }
.login{
    width: 27%;
}